.top-nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  border-top: 1px solid $brand-black;
  background-color: $brand-orange;
  color: $brand-white;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }

  &__title {
    margin: 0.6rem 0;
  }
}
